# Ignore Python bytecode
**/__pycache__
*.pyc
*.pyo
*.pyd

# Ignore Pytest cache
**/.pytest_cache

# Ignore git directory
.git/

# Ignore files related to virtual environments
venv/
*.venv
.env

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore log files
*.log

# Ignore cache files
.cache/
*.cache/

# Ignore local configuration files
*.cfg
*.ini
*.json

# Ignore .DS_Store file
**/.DS_Store